*{
    margin: 0;
    padding: 0;
}
header nav{
    
}
.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav img{
    width: 200px;
}
.navi a{
    text-decoration: none;
}
.navi ul{
    display: flex;
    list-style: none;
}