.banner{
    min-height: 30vh;
    text-align: center;
    padding: 50px 0px;
}
.banner img{
}
.box{
    text-align: center;
    border: 1px solid black;
    width: 30%;
    margin: auto;
    padding: 40px 0px;
}
.box h4{
    margin-bottom: 35px;
}
.google{
    padding: 9px 35px;
    text-decoration: none;
    border: 1px solid #4081EC;
    border-radius: 40px;
    background: #4081EC;
    color: white;
    padding-bottom: 13px;
    font-weight: 500;
}
.google img{
    width: 20px;
    margin-right: 5px;
}
.google:hover{
    background: #2f60af;
    transition: .3s;
    border: 1px solid #2f60af;
    color: white;
}