<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid navi">
              <a href="#"><img src="images/logo2.png" alt="" class="img-fluid"></a>
                
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <ul>
                        <li><a class="nav-link" href="#">Home</a></li>
                        <li><a class="nav-link" href="#">Home</a></li>
                        <li><a class="nav-link" href="#">Home</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <section>

    </section>
</body>
</html>